<footer th:fragment="appFooter" class="footer mt-auto py-3 bg-dark text-white" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5><i class="fa-solid fa-utensils"></i> DeliveryUTP</h5>
        <p>Tu mejor opción para pedir comida dentro del campus de la UTP. Ofrecemos una variedad de productos frescos y ofertas especiales para que disfrutes de tus comidas al máximo.</p>
        <p>&copy; <span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2024</span> DeliveryUTP. Todos los derechos reservados.</p>
      </div>
      <div class="col-md-6 text-md-end">
        <h5><i class="fa-solid fa-comments"></i> ¿Tienes algún problema?</h5>
        <p>Si tienes alguna queja, sugerencia o reclamación, no dudes en contactarnos.</p>
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#reclamacionModal">
          <i class="fa-solid fa-file-alt"></i> Libro de Reclamaciones
        </button>
      </div>
    </div>
  </div>
</footer>

