<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Barra de Navegación de Usuario</title>
  </head>
  <body>
    <nav th:fragment="userNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/indexUsuario}">
          <img src="/assets/img.png" alt="Logo de Inicio" width="40" height="32" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#userNavbarContent"
                aria-controls="userNavbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="userNavbarContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item d-lg-none">
              <a class="nav-link" aria-current="page" th:href="@{/indexUsuario}">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/aulaUsuario}">Tu Aula</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/ofertasUsuario}">Ofertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/sobreNosotrosUsuario}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/carritoUsuario}">Carrito</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <button type="button" class="nav-link btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">
                Cerrar Sesión
              </button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
</html>